---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import album from '../images/albums/love.jpg';
---

<Layout title="Media">
  <div class="flex flex-col p-2 md:px-10 md:pb-16">
    <div class="flex pb-6 flex-col">
      <p class="text-4xl font-display font-thin">Media</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-8 items-start">
      <div class="flex flex-col order-2 sm:order-1 gap-4 w-full sm:max-w-[40%] m-auto sm:m-0">
        <div class="grid gap-2">
          <p class="text-xl">Our Latest Release</p>
          <div class="flex flex-col gap-1 items-center w-[16em] ">
            <a href="https://open.spotify.com/album/51Idyic6tecP5l98cL4UTp?si=a-9HnoftSwajjdhcqlaHpg">
              <Image src={album} alt="love, dodecs" class="rounded"/>
            </a>
            <p class="font-sans font-light text-light-gray">Love, Dodecs (2023)</p>
          </div>
        </div>
        <div class="grid gap-2">
          <p class="text-lg">More Performances</p>
          <div class="flex flex-col gap-1">
            <div>
              <a class="link hover:opacity-75 transition" href="https://youtu.be/o630tnA2YxM">Gansta - Kehlani</a>
            </div>
            <div>
              <a class="link hover:opacity-75 transition" href="https://youtu.be/q_2CgAKTyk8">Breezeblocks - Alt-J</a>
            </div>
            <div>
              <a class="link hover:opacity-75 transition" href="https://youtu.be/QCcPOuHit3g">Cuz I Love You - Lizzo</a>
            </div>
            <div>
              <a class="link hover:opacity-75 transition" href="https://www.dodecs.com/media.html#:~:text=Love%20on%20the%20Brain%20%2D%20Rihanna">Love On The Brain - Rihanna</a>
            </div>
            <div>
              <a class="link hover:opacity-75 transition" href="https://www.youtube.com/watch?v=OzPOcf4RfyU">Dreaming With a Broken Heart - John Mayer</a>
            </div>
            <div>
              <a class="font-light hover:opacity-75 transition" href="https://www.youtube.com/watch?v=OzPOcf4RfyU">See all performances</a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="flex flex-col order-1 sm:order-2 w-full gap-4">
        <p class="text-2xl font-light font-display">Songs from Our Latest Show</p>
        <iframe class="aspect-video rounded max-w-[60em]" width="100%" height="auto" src="https://www.youtube.com/embed/LeYURklq7cM?si=94_h1-gcnmr_8yGW" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="aspect-video rounded max-w-[60em]" width="100%" height="auto" src="https://www.youtube.com/embed/WdzooAG0Xx8?si=bpUwPPA9LsJwlUhA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</Layout>